.form-area{
    text-align: center;
    margin-top: 50px;
   
}
.table-area{
    position: absolute;
    left: 20%;
    margin-top: 30px;
 
}
table{
    background-color: aquamarine;
    border: 1px solid black;
   
}
input{
    width: 300px;
    height:30px;
    font-size: 17px;
}
textarea{
    width: 300px;
    height:60px;
    font-size: 17px;
}
